<animation-component *ngIf="intro"></animation-component>
<div id="container">
  <p *ngIf="minutes === 25; else breakTime">
    <span>{{ counter }}</span>
    <span>/</span>
    <span>4</span>
  </p>
  <ng-template #breakTime>
    <h2>Break</h2>
  </ng-template>

  <timer-component [pomodoro]="currentTime"></timer-component>
  <span *ngIf="running; else start_btn">
    <button-component name="pause" (buttonClicked)="pause()"></button-component>
  </span>

  <ng-template #start_btn>
    <button-component name="start" (buttonClicked)="start()"></button-component>
  </ng-template>
</div>
