/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  color: aliceblue;
}

body {
  background-color: #242c3e;
}

button,
.btn {
  cursor: pointer;
}
